<h1><%= @brand.name %></h1>

<%= link_to "ブランド一覧に戻る", brands_path %>
<h2>商品</h2>
<ul>
 <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
 <% end %>
</ul>